@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

  .input-border{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid gray;
    margin: 5px 0px; 
  }

}